@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');
@import '../node_modules/font-awesome/css/font-awesome.css';

:root {
  --dark-primary-color: #388e3c;
  --default-primary-color: #4caf50;
  --light-primary-color: #c8e6c9;
  --text-primary-color: #ffffff;
  --accent-color: #ff9800;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --sidebar-heading-background-color: color(var(--default-primary-color) shade(10%));
  --tools-hover-background-color: color(white a(10%));
  --tools-selected-background-color: color(white a(20%));
}

html {
  font-size: 1em;
}

body {
  font-family: 'Noto Sans', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: var(--text-primary-color);
  font-weight: 400;
}

/* http://type-scale.com/ minor-third scale, base 16px */
p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

small, .font_small {
  font-size: 0.833em;
}

header {
  height: 5vh;
  padding: 1rem;
  background-color: var(--dark-primary-color);
  color: var(--text-primary-color);
}

header h1 {
  margin: 0;
  display: inline-block;
}

header p {
  display: inline-block;
  margin-left: 1rem;
}

header p a {
  color: var(--accent-color);
}

.sidebar {
  background-color: var(--default-primary-color);
  height: 95vh;
  color: var(--text-primary-color);
}

.sidebar h3:first-child {
  margin-top: 0;
}

.sidebar h3 {
  background: var(--sidebar-heading-background-color);
  padding: 0.5rem;
  font-size: 85%;
  margin: 0;
}

.sidebar dl {
  font-size: 75%;
  padding: 0 0.5rem;
  margin: 0;
}

.sidebar dt {
  font-weight: bold;
  margin-top: .5rem;
}

.sidebar dd {
  margin-left: 0;
}

.drawing-area {
  background-color: var(--light-primary-color);
  height: 95vh;
}

.sidebar .tools ul {
  margin: 0;
  padding: .25rem;
  list-style-type: none;
}
.sidebar .tools ul li {
  padding: .25rem;
  display: inline-block;
  margin-right: .25rem;
  cursor: pointer;
}
.sidebar .tools ul li:hover {
  background: var(--tools-hover-background-color);
}
.sidebar .tools ul li.selected {
  background: var(--tools-selected-background-color);
}

.selection {
  cursor: pointer;
}

.selection-drag-handle {
  cursor: nwse-resize;
}
